/* This is the header component */
.header {
  display: flex;
  gap: 5rem;
  padding: 2rem 10rem;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down__menu--button {
  display: flex;
  padding-bottom: 1.3rem;
  cursor: pointer;
}

.drop-down--element__container {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 1.3rem;
}

.drop-down__visible {
  display: flex;
}

.header--page__title {
  color: var(--secondary-text-color);
}

/* This is page content */

.browse--container {
  margin: 10rem 9rem;
}

.browse-container__header {
  display: flex;
  align-items: center;
  font-size: var(--medium-font-size);
}

.sort--button__container {
  display: flex;
  position: fixed;
  width: 30rem;
  gap: 0.0625rem;
  flex-wrap: wrap;
}

.sort--button {
  color: var(--secondary-text);
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  font-size: var(--large-font-size);
}

.sort--button:hover {
  border: 2px solid var(--main-text-color);
  color: var(main-text-color);
  border-radius: 3px;
}

.sort--active {
  border: 2px solid black;
  color: var(main-text-color);
  border-radius: 3px;
}

.manga--list__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-left: 20rem;
}

.manga--list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;
  display: none;
}

.manga--visible {
  display: flex;
}
.manga--list__item {
  font-size: var(--large-font-size);
  color: var(--secondary-text-color);
}

/* This is to make it responsive for phones */

@media (max-width: 1280px) {
  .header {
    display: flex;
    gap: 5rem;
    padding: 1rem 2.5rem;
  }
  .sort--button__container {
    display: flex;
    position: fixed;
    width: 17rem;
    gap: 0.0625rem;
    flex-wrap: wrap;
    left: 2rem;
  }

  .sort--button {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    gap: 0.625rem;
    font-size: var(--medium-font-size);
    color: var(--secondary-text);
  }

  .manga--list__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-left: 20rem;
  }

  .manga--list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    display: none;
  }

  .manga--visible {
    display: flex;
  }
  .manga--list__item {
    font-size: var(--medium-font-size);
    color: var(--secondary-text-color);
  }
}

@media (max-width: 700px) {
  .header {
    display: flex;
    gap: 5rem;
    padding: 1rem 2.5rem;
  }
  .sort--button__container {
    display: flex;
    position: fixed;
    width: 10rem;
    gap: 0.0625rem;
    flex-wrap: wrap;
    left: 2rem;
  }

  .sort--button {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    gap: 0.625rem;
    font-size: var(--regular-font-size);
    color: var(--secondary-text);
  }

  .manga--list__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-left: 20rem;
  }

  .manga--list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    display: none;
  }

  .manga--visible {
    display: flex;
  }
  .manga--list__item {
    font-size: var(--medium-font-size);
    color: var(--secondary-text-color);
  }
}
