/* This is the header component */
.header {
  display: flex;
  gap: 5rem;
  padding: 2rem 10rem;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down__menu--button {
  display: flex;
  padding-bottom: 1.3rem;
}

.drop-down--element__container {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 1.3rem;
}

.drop-down__visible {
  display: flex;
}

.header--page__title {
  color: var(--secondary-text-color);
}

/* this is for the body */

.feed--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  padding-bottom: 4rem;
}

.manga--preview__header {
  position: relative;
  display: flex;
  padding-bottom: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-shrink: 0;
}
.manga--preview {
  display: flex;
  width: 22.9375rem;
  height: 17.0625rem;
  padding: 0.15625rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.manga--preview__info {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.625rem;
  gap: 1.25rem;
}

.manga--preview__name {
  font-weight: var(--medium-font-weight);
}

.item {
  color: var(--secondary-text-color);
}

.manga--preview__release-year {
  color: var(--secondary-text-color);
}
