:root {
  --main-text-color: #010101;
  --secondary-text-color: #a8a8a8;

  --background-color: #fafafa;
  --hover-color: #f3f3f3;

  --stroke-color: #c2c2c2;

  --base-font-size: 0.875rem;
  --large-font-size: 3rem;
  --medium-font-size: 1.5rem;

  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;

  --base-line-height: 125.523%;
}
